# Ignore the data directory, but don't ignore the "common" directory inside it
# https://stackoverflow.com/questions/5533050/gitignore-exclude-folder-but-include-specific-subfolder
!data/
data/*
!data/common/

# Other ignores
venv_samisk
tesstrain
tesseract
output/
example_image.out.txt
tesseract_models/divvungiellatekno
kladd.ipynb

.ipynb_checkpoints
.env

*.egg-info
*__pycache__*
.venv
.pdm-python
.ruff_cache

logs
